@use '../../../shared/mixins/flex' as flex_mixins;
@use '../../../shared/extends/flex';

@media screen and (width: 1920px) {
    main {
        @include flex_mixins.center_j_d(initial);
        padding: 25px 0 0 30px;
        align-items: initial;
    }
    #main_content {
        display: flex;
        flex-direction: column;
        &_authorHeader {
            &_img {
            }
            &_presentation {
                &_logo {
                }
                &_other {
                    &_name {
                    }
                    &_subs {
                    }
                }
                &_buttons {
                    &_notification {
                    }
                    &_subscribe {
                    }
                }
            }
        }
        &_centralPart {
            &_sections {
            }
            &_bigVideo {
                &_description {
                    &_name {
                    }
                    &_content {
                    }
                    &_other {
                    }
                }
            }
        }
        &_smallVideos {
            @include flex_mixins.center_j_d(space-between, column);
            align-items: initial;
            flex-wrap: initial;
            &_header {
                // width:;
                @include flex_mixins.center_j_d(space-between);
            }
            &_container {
                display: flex;
                align-items: center;
            }
        }
    }

    .small_video {
        width: 250px;
        position: relative;
        &_time {
            position: absolute;
            bottom: 59px;
            right: 10px;
        }

        &_wallpaper {
            margin-bottom: 9px;
        }
        &:not(:nth-child(1)) {
            margin-left: 40px;
        }
    }

    .video_inf {
        &_name {
            display: flex;
            flex-direction: column;
            font-size: var(--font_16);
            font-weight: bold;
        }
        &_crucial_data {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            &_views {
                padding-top: 2px;
                height: 16px;
                font-size: 13px;
                color: rgb(194, 194, 194);
            }
            &_author {
                font-size: 13px;
                color: rgb(194, 194, 194);
            }
        }
    }

    // .other_subscribe_button {
    //     background-color: red;
    //     color: white;
    //     text-align: center;
    //     font-size: var(--font_16);
    //     border-radius: 20px;
    //     width: 154px;
    //     height: 40px;
    // }
}
