@use '../../../shared/mixins/flex' as flex_mixins;
@use '../../../shared/extends/flex';

@media screen and (width: 1920px) {
    main {
        @include flex_mixins.center_j_d(initial);
        padding: 25px 0 0 30px;
        align-items: initial;
    }
    #main_content {
        // display: flex;
        // flex-direction: column;

        margin-left: 66px;
        &_authorContent {
            display: flex;
            flex-direction: column;
        }
        &_recommended {
            display: flex;
            flex-direction: column;
            margin-top: 48px;
        }
        &_other {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
        }
    }
    .section_infHeader {
        width: 1515px;
        margin-bottom: 28px;
        color: rgb(25, 32, 44);

        font-size: var(--font_26);
        font-weight: 700;
        @include flex_mixins.center_j_d(space-between);
    }
    .section_inf {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: 50px;
        &_authorLogo {
        }
        &_authorName {
            margin-left: 20px;
            font-size: 26px;
            font-weight: bold;
        }
        &_author_infForUser {
            color: rgb(194, 194, 194);
            margin-top: 7px;
            margin-left: 20px;
            font-size: var(--font_16);
        }
    }
    .section_navigation {
        align-self: flex-end;
    }
    .small_videos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: initial;
    }
    .small_video {
        width: 250px;

        &_wallpaper {
            margin-bottom: 8px;
        }
        &:not(:nth-child(1)) {
            margin-left: 40px;
        }
    }
    .video_inf {
        &_name {
            display: flex;
            flex-direction: column;
            font-size: var(--font_16);
            font-weight: bold;
        }
        &_crucial_data {
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            &_views {
                padding-top: 2px;
                height: 16px;
                font-size: 13px;
                color: rgb(194, 194, 194);
            }
            &_author {
                font-size: 13px;
                color: rgb(194, 194, 194);
            }
        }
    }
    .big_videos {
        display: flex;
        justify-content: space-between;
        flex-wrap: initial;
    }
    .big_video {
        width: 540px;
        &_wallpaper {
            // margin-top: 2px;
        }
    }
    .other_options {
        align-self: flex-end;
        @include flex_mixins.center_j_d(space-between);
        width: 17.2%;
        min-width: 240px;
    }
    .other_subscribe_button {
        background-color: red;
        color: white;
        text-align: center;
        font-size: var(--font_16);
        border-radius: 20px;
        width: 154px;
        height: 40px;
    }
}
