@use '../../shared/mixins/flex' as flex_mixins;
@use '../../shared/extends/flex';

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 10px 16px 10px 16px;
        @include flex_mixins.center_j_d(space-between);
    }
    #header_firstPart {
        width: 21%;
        max-width: 180px;
        @include flex_mixins.center_j_d(space-between);

        &_menu {
        }
        &_appLogo {
        }
    }
    #header_secondPart {
        width: 75%;
        &_wrapper {
            display: none;
            &_otherLogos {
                img {
                }
            }
            &_userIcon {
            }
        }
    }
    #search_container {
        position: relative;
        width: 100%;
        @include flex_mixins.center_j_d(initial);

        &_field {
            width: inherit;
            height: inherit;
            padding: 12px 0 12px 23px;
            font-size: var(--font_16);
            border-radius: 22px;
            background: rgb(235, 235, 235);
            opacity: 0.3;
        }
        &_logo {
            position: absolute;
            right: 18px;
            width: 18.21px;
        }
    }
}
